{{ define "header" }}
<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stocker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
</head>

<style>
	tr.htmx-swapping td {
		opacity: 0;
		transition: opacity 1s ease-out;
	}
</style>

<body>

{{ $cfpActive := "" }}
{{ if eq .program "cfp" }}
{{ $cfpActive = "uk-active" }}
{{ end }}

{{ $winterActive := "" }}
{{ if eq .program "winter" }}
{{ $winterActive = "uk-active" }}
{{ end }}

{{ $springsummerActive := "" }}
{{ if eq .program "springsummer" }}
{{ $springsummerActive = "uk-active" }}
{{ end }}

<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">AZStocker</a>
                <ul class="uk-navbar-nav">
                    <li>
                        <a>Schedules <span uk-navbar-parent-icon></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="{{ $cfpActive }}"><a href="/cfp">Community Fishing</a></li>
                                <li class="{{ $winterActive }}"><a href="/winter">Winter</a></li>
                                <li class="{{ $springsummerActive }}"><a href="/springsummer">Spring</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            {{ if .notifyEnabled }}
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a
                        _="on click get closest <li/> then
                                    set its innerHTML to '<p>Thanks!</p>'
                                    then wait 2s
                                    then remove it
                                then fetch /notify with method:'POST'
                                "
                        uk-tooltip="Love this site? Click here to let me know"
                        class="uk-icon-button" uk-icon="icon: heart; ratio: 1.5"></a>
                    </li>
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</nav>
{{ end }}

{{ define "footer" }}
</body>

</html>
{{ end }}
