{{ define "calendar" }}
{{ template "header" . }}

{{ $showAll := .showAll }}
{{ $program := .program }}
{{ $waters := .waters }}
{{ $numWaters := .numWaters }}

{{ $nextStockingLanguage := "Next stocking" }}
{{ $lastStockedLanguage := "Last stocked" }}
{{ $emptyFavoritesButtonTooltip := "title: Add Waters to favorites" }}

<script type="text/hyperscript">
    init
        set $selections to []
    end

    def removeSelections(val)
        set newSelections to []
        for water in $selections
            if water != val
            then append water to newSelections
        end
        set $selections to newSelections
    end

    def updateSelection()
        get #showSelected then
        set its innerHTML to ''

        if $selections.length == 0
            add @disabled to #selectionsButton
            get #selectionsButton then set its @uk-tooltip to "{{ $emptyFavoritesButtonTooltip }}"
            exit
        end

        remove @disabled from #selectionsButton
        get #selectionsButton then set its @uk-tooltip to "title: Go to favorites"

        set elements to ''
        for water in $selections
            append `<span class="uk-badge uk-margin-right">${water}</span>` to elements
        end

        get #showSelected then
        set its innerHTML to elements
    end

    def watersQuery()
        set queryString to ''
        for water in $selections index i
            if i > 0
                append "," to queryString
            end
            append water to queryString
        end
        return queryString
    end
</script>

<div class="uk-margin-top">
    {{ $programName := "" }}
    {{ if eq $program "cfp" }}
    {{ $programName = "Community Fishing Program" }}
    {{ else if eq $program "winter" }}
    {{ $programName = "Winter" }}
    {{ else if eq $program "springsummer" }}
    {{ $programName = "Spring & Summer" }}
    {{ end }}
    <nav class="uk-text-center">
        <ul class="uk-breadcrumb">
            <li><a href="/">Home</a></li>
            {{ if $waters }}
            <li><a href="/{{ $program }}">{{ $programName }}</a></li>
            <li>{{ $waters }}</li>
            {{ else }}
            <li>{{ $programName }}</li>
            {{ end }}
        </ul>
    </nav>

    {{ if or (not $waters) (gt $numWaters 1) }}
    <div>
        <div class="uk-card uk-card-default" style="margin-right: 5%; margin-left: 5%; margin-bottom: 2%;">
            <div class="uk-card-body">
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-expand@s">
                        <input class="uk-input" placeholder="Search" _="on input
                        show <div#waterCard>div/> in #water-cards
                        when its textContent.toLowerCase() contains my value.toLowerCase()
                        "/>
                    </div>

                    <div class="uk-button-group">
                        <div>
                            <form action="/{{ $program }}" method="get">
                                {{ if $waters }}
                                <input type="hidden" name="waters" value="{{ $waters }}">
                                {{ end }}
                                {{ if eq .sortedBy "last" }}
                                <button uk-tooltip="title: {{ $lastStockedLanguage }}" class="uk-button uk-button-secondary">
                                {{ else }}
                                <input type="hidden" value="last" name="sortBy">
                                <button uk-tooltip="title: {{ $lastStockedLanguage }}" class="uk-button uk-button-default">
                                {{ end }}
                                    <span uk-icon="icon: history"></span>
                                </button>
                            </form>
                        </div>

                        <div>
                            <form action="/{{ $program }}" method="get">
                                {{ if $waters }}
                                <input type="hidden" name="waters" value="{{ $waters }}">
                                {{ end }}
                                {{ if eq .sortedBy "next" }}
                                <button uk-tooltip="title: {{ $nextStockingLanguage }}" class="uk-button uk-button-secondary">
                                {{ else }}
                                <input type="hidden" value="next" name="sortBy">
                                <button uk-tooltip="title: {{ $nextStockingLanguage }}" class="uk-button uk-button-default">
                                {{ end }}
                                    <span uk-icon="icon: future"></span>
                                </button>
                            </form>
                        </div>

                        {{ if not $waters }}
                        <div>
                            <form action="/{{ $program }}" method="get">
                                <button uk-tooltip="{{ $emptyFavoritesButtonTooltip }}" class="uk-button uk-button-primary" value="" name="waters" id="selectionsButton"
                                _='on click set my value to watersQuery()' disabled>
                                    <span uk-icon="icon: heart"></span><span uk-icon="icon: chevron-right"></span>
                                </button>
                            </form>
                        </div>
                        {{ end }}
                    </div>

                    {{ if not $waters }}
                    <div class="uk-width-1-1" style="margin-top: 0%;">
                        <div class="uk-grid" uk-grid>
                            <div id="showSelected">
                            <div></div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <div id="water-cards">
        {{ range $data := .calendar }}
        <div id="waterCard">
            <div class="uk-card uk-card-default" style="margin-right: 5%; margin-left: 5%; margin-bottom: 2%;">
                <div class="uk-card-header uk-text-center">
                    <a class="uk-link-toggle" href="/{{ $program }}?waters={{ $data.WaterName }}&showAll=true">
                        <h3 class="uk-link-heading uk-card-title uk-margin-remove-bottom">
                            {{ $data.WaterName }}
                        </h3>
                    </a>

                    {{ if not $waters }}
                    <div uk-tooltip="title: Add to favorites" class="uk-position-top-left uk-margin-small-top uk-margin-small-left">
                        <a uk-icon="icon: heart"
                            _="on click
                                if @uk-icon == 'icon: heart'
                                    set @uk-icon to 'icon: check'
                                    then remove @uk-tooltip from closest <div/>
                                    then append '{{ escapeSingleQuote $data.WaterName }}' to $selections
                                    then updateSelection()
                                else
                                    set @uk-icon to 'icon: heart'
                                    then removeSelections('{{ escapeSingleQuote $data.WaterName }}')
                                    then get closest <div/> then
                                        set its @uk-tooltip to 'title: Add to favorites'
                                    then updateSelection()
                                end">
                        </a>
                    </div>
                    {{ end }}
                </div>
                <div class="uk-card-body">
                    {{ $lastStock := $data.Last }}
                    {{ $nextStock := $data.Next }}

                    <p>
                    {{ if eq $lastStock.Stock "Unknown" }}
                    Stocking was scheduled for <b>{{ $lastStock.HumanTime }}</b>, but may not have been completed.
                    {{ else }}
                    Stocked with {{ $lastStock.Stock }} <b>{{ $lastStock.HumanTime }}</b>.
                    {{ end }}
                    Stocking with {{ $nextStock.Stock }} <b>{{ $nextStock.HumanTime }}</b>.
                    </p>

                    <table class="uk-table uk-table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{ range $week := $data.Data }}
                            {{ if or $showAll (ne $week.Stock "None") }}
                            <tr>
                                <td>
                                {{ if eq $lastStock $week }}
                                <span uk-tooltip="title: {{ $lastStockedLanguage }}" uk-icon="icon: history"></span>
                                {{ else if eq $nextStock $week }}
                                <span uk-tooltip="title: {{ $nextStockingLanguage }}" uk-icon="icon: future"></span>
                                {{ else }}
                                <span style="visibility: hidden;" uk-icon="icon: future"></span>
                                {{ end }}
                                {{ $week.Year }} {{ $week.Month.String }} {{ $week.Day }}
                                </td>
                                <td>{{ $week.Stock }}</td>
                            </tr>
                            {{ end }}
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ template "footer" . }}
{{ end }}
