{{ define "calendar" }}
{{ template "header" . }}
{{ $showAll := .showAll }}
{{ $program := .program }}
{{ $waters := .waters }}
{{ $numWaters := .numWaters }}

<script type="text/hyperscript">
    init
        set $selections to []
    end

    def updateSelection()
        if $selections.length == 0
            add @disabled to #selectionsButton
            exit
        end

        remove @disabled from #selectionsButton

        set elements to ''
        for water in $selections
            append `<span class="uk-badge uk-margin-right">${water}</span>` to elements
        end

        get #showSelected then
        set its innerHTML to elements
    end

    def watersQuery()
        set queryString to ''
        for water in $selections index i
            if i > 0
                append "," to queryString
            end
            append water to queryString
        end
        return queryString
    end
</script>

<div class="uk-margin-top">
    <h1 class="uk-heading-medium uk-text-center">Stocker</h1>

    {{ $programName := "" }}
    {{ if eq $program "cfp" }}
    {{ $programName = "Community Fishing Program" }}
    {{ else if eq $program "winter" }}
    {{ $programName = "Winter" }}
    {{ else if eq $program "springsummer" }}
    {{ $programName = "Spring & Summer" }}
    {{ end }}
    <nav class="uk-text-center">
        <ul class="uk-breadcrumb">
            <li><a href="/">Home</a></li>
            {{ if $waters }}
            <li><a href="/{{ $program }}">{{ $programName }}</a></li>
            <li>{{ $waters }}</li>
            {{ else }}
            <li>{{ $programName }}</li>
            {{ end }}
        </ul>
    </nav>

    {{ if or (not $waters) (gt $numWaters 1) }}
    <div>
        <div class="uk-card uk-card-default" style="margin: 5%;">
            <div class="uk-card-body">
                <div class="uk-margin">
                    <div><input class="uk-input" placeholder="Search" _="on input
                    show <div#waterCard>div/> in #water-cards
                      when its textContent.toLowerCase() contains my value.toLowerCase()
                    "/></div>
                </div>

                {{ if not $waters }}
                <form class="uk-form-horizontal" action="/{{ $program }}" method="get">
                    <div class="uk-margin uk-grid" uk-grid>
                        <div id="showSelected">
                        <span style="visibility: hidden;" class="uk-badge uk-margin-right">Favorites</span>
                        </div>
                    </div>
                </form>
                {{ end }}

                <div class="uk-margin uk-flex-center uk-grid" uk-grid>
                    {{ if not $waters }}
                    <form action="/{{ $program }}" method="get">
                        <button uk-tooltip="title: Add Waters to favorites" class="uk-button uk-button-primary uk-button-large" value="" name="waters" id="selectionsButton"
                        _='on click set my value to watersQuery()' disabled>
                            <span uk-icon="icon: heart"></span> Favorites
                        </button>
                    </form>
                    {{ end }}

                    <form action="/{{ $program }}" method="get">
                        {{ if $waters }}
                        <input type="hidden" name="waters" value="{{ $waters }}">
                        {{ end }}
                        {{ if eq .sortedBy "last" }}
                        <button class="uk-button uk-button-primary uk-button-large">
                        {{ else }}
                        <input type="hidden" value="last" name="sortBy">
                        <button class="uk-button uk-button-default uk-button-large">
                        {{ end }}
                            <span uk-icon="icon: menu"></span> Recent
                        </button>
                    </form>

                    <form action="/{{ $program }}" method="get">
                        {{ if $waters }}
                        <input type="hidden" name="waters" value="{{ $waters }}">
                        {{ end }}
                        {{ if eq .sortedBy "next" }}
                        <button class="uk-button uk-button-primary uk-button-large">
                        {{ else }}
                        <input type="hidden" value="next" name="sortBy">
                        <button class="uk-button uk-button-default uk-button-large">
                        {{ end }}
                            <span uk-icon="icon: menu"></span> Upcoming
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

    <div id="water-cards">
        {{ range $data := .calendar }}
        <div id="waterCard">
            <div class="uk-card uk-card-default" style="margin: 5%;">
                <div class="uk-card-header uk-text-center">
                    <a class="uk-link-toggle" href="/{{ $program }}?waters={{ $data.WaterName }}&showAll=true">
                        <h3 class="uk-link-heading uk-card-title uk-margin-remove-bottom">
                            {{ $data.WaterName }}
                        </h3>
                    </a>

                    {{ if not $waters }}
                    <div uk-tooltip="title: Add to favorites" class="uk-position-top-left uk-margin-small-top uk-margin-small-left">
                        <a uk-icon="icon: heart"
                            _="on click
                                if @uk-icon == 'icon: heart'
                                    set @uk-icon to 'icon: check'
                                    then remove @uk-tooltip from closest <div/>
                                    then append '{{ $data.WaterName }}' to $selections
                                    then updateSelection()
                                end">
                        </a>
                    </div>
                    {{ end }}
                </div>
                <div class="uk-card-body">
                    <dl class="uk-description-list">
                        <dt>Most recent stocking</dt>
                        {{ $lastStock := $data.Last }}
                        <dd>{{ $lastStock.Year }} {{ $lastStock.Month.String }} {{ $lastStock.Day }}: {{ $lastStock.Stock }}</dd>

                        <dt>Upcoming stocking</dt>
                        {{ $nextStock := $data.Next }}
                        <dd>{{ $nextStock.Year }} {{ $nextStock.Month.String }} {{ $nextStock.Day }}: {{ $nextStock.Stock }}</dd>

                        <dt>All Stocking Data</dt>
                        <dd>
                            <table class="uk-table uk-table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Stock</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{ range $week := $data.Data }}
                                    {{ if or $showAll (ne $week.Stock "None") }}
                                    <tr>
                                        <td>{{ $week.Year }} {{ $week.Month.String }} {{ $week.Day }}</td>
                                        <td>{{ $week.Stock }}</td>
                                    </tr>
                                    {{ end }}
                                {{ end }}
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ template "footer" . }}
{{ end }}
